{% extends "layout" %}

{% block content %}
    <h2>Belépés</h2>
    <p>Ha már beléptél, használd a névtelen azonosítódat.
    <div class="mb-2">
    <form action="login" method="post">
        {{ csrf_field() }}
        <div class="mb-2">
        <input type="text" class="form-control {% if errors.any() %}is-invalid{% endif %}" placeholder="AbCdEfGhIjKlMnOpQrStUvWx" id="anonymous_token" method="get" name="anonymous_token" action="/login">
        </div>
        {% if errors.any() %}
            <div class="">
                <ul>
                    {%  for error in errors.all() %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}    
        <button class="btn btn-primary" type="submit">Belépés</button>
    </form>
    </div>
    <div class="mb-3">Ha már nincs meg az azonosítód, akkor regisztrálj újat! (Mivel semmilyen személyes adatot nem kezelünk, nem tudjuk neked elküldeni.)</div>
    
    </div>
    <h2>Regisztráció</h2>
    <form method="post" action="/register">
        <div class="mb-2">
            A regisztráció annyiból áll, hogy elfogadod az adatvédelmi szabályainkat, és kapsz egy névtelen azonosítót, amit használhatsz a belépéshez.
            Az adatvédelmi szabályaink a következők: a belépett felhasználóknál elhelyezünk egy cookie-t (sütit), amivel a későbbi belépéseiket automatizáljuk. 
            A legutolsó belépés időpontját rögzítjük. 
            Semmilyen személyes adatot, semmilyen formában nem kezelünk, nem kérünk és nem tárolunk.
        </div>
        <div class="mb-2">
            {{ csrf_field() }}
            <input type="checkbox"  class="form-check-input" name="approve" id="accept" required>
            <label class="form-label {% if errors.first['approve']%}is-invalid{%  endif %}" for="accept">A regisztrációval elfogadom az adatvédelmi feltételeket.</a></label>
            {% if errors.any() %}
                <div class="">
                    <ul>
                        {%  for error in errors.all() %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}    
        </div>
            <button class="btn btn-primary" type="submit">Regisztráció</button>

    </form>
{% endblock %}