BODY {
SCROLLBAR-FACE-COLOR: #F2EBE3; SCROLLBAR-HIGHLIGHT-COLOR: #DCC7AF; SCROLLBAR-SHADOW-COLOR: #DCC7AF; SCROLLBAR-3DLIGHT-COLOR: #F2EBE3; SCROLLBAR-ARROW-COLOR: #DCC7AF; SCROLLBAR-TRACK-COLOR: #EBEBEB; SCROLLBAR-DARKSHADOW-COLOR: #F3C300; SCROLLBAR-BASE-COLOR: #FFFFFF
}

@media only screen and (max-width: 480px) {
	.pager {
		display:none;
	}
}






div.chapter p {
    margin-bottom: 2px;
    text-indent: 1.5em;
}


td.menu {
    background-color:#9DA7D8;
    padding:5px;
    padding-left:40px;
    }

    
.alap {  font-family: Arial, Helvetica, sans-serif; font-size: 10pt; color: #000000}
.kiscim {  font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: bold; color: #373A8D;margin-top: 12px; margin-bottom: 2px;}
.alcim {  font-family: Arial, Helvetica, sans-serif; font-size: 12pt; font-weight: bold; color: #373A8D}
.cim {  font-family: Arial, Helvetica, sans-serif; font-size: 14pt; font-weight: bold; color: #373A8D}
.nagycim {  font-family: Arial, Helvetica, sans-serif; font-size: 18pt; font-weight: bold; color: #373A8D}
.kicsi {  font-family: Arial, Helvetica, sans-serif; font-size: 8pt; color: #000000}

.hiba {  font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: bold; color: #ff0000}

.link {  font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-style: normal; font-variant: normal; color: #373A8D; text-decoration: none}
.link:visited  { color: #373A8D}
.link:hover    { color: #7F87C2}

.minilink {  font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-style: normal; font-variant: normal; color: #373A8D; text-decoration: none}
.minilink:visited  { color: #373A8D}
.minilink:hover    { color: #7F87C2}

.link1 { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-style: normal; font-weight: bold; font-variant: normal; color: #373A8D; text-decoration: none }
.link1:visited  {color: #373A8D}
.link1:hover    {color: #7F87C2}

.menulink {  font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: bold; color: #FFFFFF; text-decoration: none}
.menulink:visited  { color: #FFFFFF}
.menulink:hover    { color: #373A8D}

.catlinklarge {  font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: bold; color: #373A8D; text-decoration: none}
.catlinklarge:visited  { color: #373A8D}
.catlinklarge:hover    { color: #7F87C2}

.catlinksmall {  font-family: Arial, Helvetica, sans-serif; font-size: 8pt; color: #373A8D; text-decoration: none}
.catlinksmall:visited  { color: #373A8D}
.catlinksmall:hover    { color: #7F87C2}

.minifrmh {  font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: bold; color: #FFFFFF; text-decoration: none}
.minifrmeh {  font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: bold; color: #373A8D}

.feher {  font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: bold; color: #FFFFFF}

.unnep {  font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: bold; color: #FF0000; text-decoration: none}
.unnep:visited  { color: #FF0000}
.unnep:hover    { color: #FF8888}