{% include 'search.quickSearchForm' %}

<div class="card">
    <div class="card-body">
        <div class="d-flex flex-wrap">
                    <a href="javascript:void(0)" role="button" class="btn btn-default btn-outline-primary btn-sm active m-1 flex-fill" id="toggleNumv">
                        <i class="toggle fa-regular fa-square-check active"></i>
                        <i class="toggle fa-regular fa-square inactive"></i>
                        Versszámozás</a>
                    <a href="javascript:void(0)" role="button" class="btn btn-default btn-outline-primary btn-sm active m-1 flex-fill" id="toggleXrefs">
                        <i class="toggle fa-regular fa-square-check active"></i>
                        <i class="toggle fa-regular fa-square inactive"></i>
                        Hivatkozások</a>
                    <a href="javascript:void(0)" role="button"  class="btn btn-default btn-outline-primary btn-sm active m-1 flex-fill" id="toggleHeadings">
                        <i class="toggle fa-regular fa-square-check active"></i>
                        <i class="toggle fa-regular fa-square inactive"></i>
                        Címsorok</a>
                    <a href="javascript:void(0)" role="button" class="btn btn-default btn-outline-primary btn-sm inactive m-1 flex-fill" id="toggleAiTools">
                        <i class="toggle fa-regular fa-square-check active"></i>
                        <i class="toggle fa-regular fa-square inactive"></i>
                        AI eszközök</a>                    
        </div>
    </div>
</div>
