{% set externalIcon %}<i class="fa-solid fa-arrow-up-right-from-square"></i>{% endset %}

<nav class="navbar navbar-light navbar-expand-md" role="navigation">
    <div class="container-fluid">
    <a class="navbar-brand" href="/">Szentírás.eu</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Menü">
        <span class="navbar-toggler-icon"></span>
    </button>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Fordítások<span class="caret"></span></a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/KNB">Káldi-Neovulgáta (KNB)</a>
                        <a class="dropdown-item" href="/SZIT">Szent István Társulati Biblia (SZIT)</a>
                        <a class="dropdown-item" href="/BD">Békés-Dalos Újszövetségi Szentírás (BD)</a></a>
                        <a class="dropdown-item" href="/STL">Simon Tamás László Újszövetség-fordítása (STL)</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/RUF">Magyar Bibliatársulat Újfordítású Bibliája 2014 (RUF)</a>
                        <a class="dropdown-item" "/KG">Károli Gáspár revideált fordítása (KG)</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="http://www.ujszov.hu" class="" rel="external" target="_new">
                            Görög újszövetségi honlap {{ externalIcon }}</a>
                        <div class="dropdown-divider"></div>                 
                        <a class="dropdown-item" href="/forditasok">Ismertetés a fordításokról</a>
                      </div>
                <li class="nav-item"><a class="nav-link" href="/tervek">Olvasási tervek</a></li>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Kapcsolódó honlapok<span class="caret"></span></a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="http://www.katolikus.hu/igenaptar/" target="_new">Katolikus igenaptár {{ externalIcon }}</a>
                        <a class="dropdown-item" href="http://zsolozsma.katolikus.hu/">Zsolozsma {{ externalIcon }}</a>
                    </div>
                </li>
                <li class="nav-item"><a class="nav-link" href="/api">Fejlesztőknek</a></li>
                <li class="nav-item"><a class="nav-link" href="/info">Újdonságaink</a></li>
              </ul>  
              <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    {% if  not session('anonymous_token') %}
                    <a class="nav-link" href="/register">
                        <i class="fa-solid fa-user fa-lg"></i> Belépés/Regisztráció
                    </a>
                    {% else %}
                        <a class="nav-link" href="/profile/{{ session('anonymous_token') }}">
                            <i class="fa-solid fa-user-check fa-lg"></i>
                        </a>                        
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</nav>
