{% set externalIcon %}<span class="glyphicon glyphicon-new-window"></span>{% endset %}

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                <span class="sr-only">Menü</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Szentírás.hu</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Fordítások<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/KNB">Káldi-Neovulgáta (KNB)</a></li>
                        <li><a href="/SZIT">Szent István Társulati Biblia (SZIT)</a></li>
                        <li><a href="/BD">Békés-Dalos Újszövetségi Szentírás (BD)</a></li>
                        <li class="divider"></li>
                        <li><a href="/UF">Magyar Bibliatársulat Újfordítású Bibliája 1990 (UF)</a></li>
                        <li><a href="/RUF">Magyar Bibliatársulat Újfordítású Bibliája 2014 (RUF)</a></li>
                        <li><a href="/KG">Károli Gáspár revideált fordítása (KG)</a></li>
                        <li class="divider"></li>
                        <li>
                            <a href="http://www.ujszov.hu" class="" rel="external" target="_new">
                                Görög újszövetségi honlap {{ externalIcon }}
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="/forditasok">Ismertetés a fordításokról</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Kapcsolódó honlapok<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="http://www.katolikus.hu/igenaptar/" target="_new">Katolikus igenaptár {{ externalIcon }}</a></li>
                        <li><a href="http://zsolozsma.katolikus.hu/">Zsolozsma {{ externalIcon }}</a></li>
                    </ul>
                </li>
                <li><a href="/api">Fejlesztőknek</a></li>
                <li><a href="/info">Újdonságaink</a></li>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
