{# On the pages where you use this, you must call the script quickChapterSelector.js #}
<div class="card mb-2 mt-2">
    <div class="card-body">
    <div class="dropdown quickSelector" id="corpusSelector">
            <button class="btn btn-default  dropdown-toggle" type="button" data-toggle="dropdown" id="corpusSelectorButton" aria-haspopup="true" aria-expanded="false">
                Gyors fejezetválasztás <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <a href="#" data-value="0" class="dropdown-item">Újszövetség</a>
                <a href="#" data-value="1" class="dropdown-item">Ószövetség</a>
            </ul>
    </div>
    <div class="dropdown quickSelector hidden" id="bookSelector">
        <button class="btn btn-default dropdown-toggle" type="button" id="bookSelectorButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Könyv<span class="caret"></span></button>
        <div class="dropdown-menu" id="bookSelectorList" aria-labelledby="dropdownMenu2">
        </div>          
    </div>
    <div class="dropdown quickSelector hidden" id="chapterSelector">
        <button class="btn btn-default dropdown-toggle" type="button" id="chapterSelectorButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Fejezet<span class="caret"></span></button>
        <div class="dropdown-menu" id="chapterSelectorList" aria-labelledby="dropdownMenu2">
        </div>          
    </div>
    <span id="selectorSpinner" class="hideSpinner"><i class="fa fa-spinner fa-spin-pulse"></i></span>
</div>
</div>