{% extends 'layout' %}

{% block content %}
<p>2025 januárjától a Szent Jeromos Bibliatársulat egy új, zárt forráskódú rendszert vezetett be a szentiras.hu oldalon. 
Az új platform jelentősen frissített és kibővített szövegeket kínál, azonban jelentősen kevesebb szolgáltatást nyújt. 
Hiányzik többek között a fejlett keresőfunkció, a külső rendszerekhez való sokoldalú összekapcsolás lehetősége, a rugalmas rövid internetes hivatkozások és számos kényelmi szolgáltatás - ráadásul sok olyan elem, amelyet nagyon sokan évek óta használnak saját weblapjaikon, projektjeikben, alkalmazásaikban.
Emellett a korábbi rendszert fejlesztő és üzemeltető programozók, valamint a szöveghibákat és más problémákat feltáró felhasználói közösség nem kapott érdemi lehetőséget az új fejlesztés alakításában való részvételre.

<p>
A korábbi fejlesztői közösség által létrehozott és 13 éven át üzemeltetett rendszer továbbra is elérhető a <pre>regi.szentiras.hu</pre> címen. Bár a kora miatt bizonyos informatikai problémák előfordulhatnak, a rendszer nem fog megszűnni, és nem fog eltűnni az internetről; bátran használhatják továbbra is ezen a felületen. A jövőben valószínűleg saját domainre fog költözni. Ennek feltétele, hogy a korábbi fejlesztői közösség megkapja a szövegek publikálásának jogát, valamint sikerüljön megfelelő informatikai hátteret biztosítani. Ehhez nem kizárt, hogy felhasználóink <b>szigorúan nem anyagi jellegű</b> támogatását kell majd kérnünk. Ha erre szükség lesz, a formájáról később adunk tájékoztatást.

<p>A rendszer lényeges elemét képezi a nyílt forráskód, és a közösségi részvétel lehetősége. Ennek elvi és gyakorlati okai is vannak. Egy közösségi projekt megnyitása mutatja, hogy értékeljük az átláthatóságot és az együttműködést, a széles körű részvételt a fontos dolgokban. Mások is tanulhatnak belőle, illetve mi is tanulhatunk másoktól. Bárki hozzájárulhat a fejlesztéshez az anyagi erőforrásaitól függetlenül. Ez nem jelent kaotikus fejlesztést, de jelenti a vezetői döntések transzparenciáját. Az open source közösségek gyakran innovatív ötletekkel jönnek, amire a projekt gazdája nem gondol. A github lehetővé teszi a strukturált, érdemi dialógust. Ha valamilyen funkció hiányos, de valakinek szüksége van rá, akkor kifejlesztheti.

<p>
A közösségi fejlesztés, ahogy az elmúlt 13 évben is, a <a href="https://github.com/szentjozsefhackathon/szentiras.hu">GitHub</a> platformon zajlik. Ez nem csupán a programozók munkáját jelenti, hanem a számos hozzászóló és hibákat jelentő felhasználónk tevékenységét is, akiknek rendkívül hálásak vagyunk! Továbbra is örömmel fogadjuk mindenki hozzájárulását. Ezen kívül csatlakoztunk a projekttel a <a href="https://szentjozsef.jezsuita.hu/szent-jozsef-hackathon/">Szent József Hackathon</a> kezdeményezéshez. Tehát szívesen látunk mindenkit, akit érdekel a munkánk, esetleg szívesen segít, a <a href="https://github.com/szentjozsefhackathon/szentiras.hu">GitHubon</a>.

Valamint minden felhasználónkat továbbra is várjuk itt a <a href="https://regi.szentiras.hu">regi.szentiras.hu</a> oldalon.

2025. január 30. UIOGD.
{% endblock %}