\documentclass[11pt]{article}
\usepackage{fontspec}
\usepackage{polyglossia}
\setdefaultlanguage{magyar}
\setmainfont{Linux Libertine O}

\begin{document}
\thispagestyle{empty}

{% for i in 1..options.quantity %}
    {% if options.quantity > 1 %}
        \pagestyle{empty}

        \begin{minipage}{\textwidth}
    {% endif %}

    {% for verseContainer in verses %}

        {{ '\\subsection*{' ~ verseContainer.bookRef.toString() ~ '}' }}
        {%- for verse in verseContainer.parsedVerses %}
            {% if options.headings %}
                {%- for headingLevel in 0..4 %}
                    {%- if verse.headings[headingLevel] is defined %}
        {{ '\\subsubsection*{' ~ verse.headings[headingLevel] ~ '}' }}
                    {%- endif %}
                {%- endfor %}
            {% endif %}
            {{ (options.nums ? '\\textsuperscript{' ~ verse.numv ~ '}' : '' ) ~ 
            (options.headings ? verse.text : verse.getText(false))|raw
            |replace({'<br>':' \\\\ ', '<h4>': '\\subparagraph{', '</h4>': '}', '<h5>': '\\subparagraph{', '</h5>': '}', '<h6>': '\\textbf{', '</h6>': '}', '<em>':'\\emph{', '</em>': '}'})}} {% if verseContainer.book.number == 121 %} \\ {% endif %}
        {%- endfor %}

    {%- endfor %}
{% if options.quantity > 1 %}
    \\
    \noindent\makebox[\linewidth]{\rule{8cm}{0.4pt}} \\
    \end{minipage}


{% endif %}

{% endfor %}


\end{document}