#result {
	height:20px;
	font-size:16px;
	font-family:Arial, Helvetica, sans-serif;
	color:#333;
	padding:5px;
	margin-bottom:10px;
	background-color:#FFFF99;
}
#texttosearch{
	padding:3px;
	border:1px #CCC solid;
	font-size:17px;
}
.suggestionsBox {
	position: absolute;
	left: 0px;
	top:78px;
	margin: 26px 0px 0px 0px;
	/*width: 200px;*/
	width: 97%;
	padding:0px;
	background-color: #9DA7D8;
	border-top: 3px solid #9DA7D8;
	color: #fff;
}

.suggestionsBox2 {
	position: absolute;
	left: 0px;
	top:220px;
	margin: 26px 0px 0px 40px;
	/*width: 200px;*/
	width: 80%;
	padding:0px;
	background-color: #373A8D;
	border-top: 3px solid #373A8D;
	color: #9DA7D8;
}

.suggestionList {
	margin: 0px;
	padding: 0px;
}
.suggestionList ul li {
	list-style:none;
	margin: 0px;
	padding: 6px;
	border-bottom:1px dotted #666;
	cursor: pointer;
}
.suggestionList ul li:hover {
	background-color: #9DA7D8;
	color:#373A8D;
}
ul {
	/*font-family:Arial, Helvetica, sans-serif;*/
	font-size:11px;
	color:#FFF;
	padding:0;
	margin:0;
}

.load{
background-image:url(http://beta.szentiras.hu/img/loader.gif);
background-position:right;
background-repeat:no-repeat;
}

#suggest {
	position:relative;
}