/bootstrap/compiled.php
/vendor
.env
.DS_Store
Thumbs.db
.idea
*.iml
_ide_helper.php

nbproject
*~
node_modules
bower_components
version.php
.vagrant
Homestead.yaml
Vagrantfile
.phpstorm.meta.php
PROVISIONED