/bootstrap/compiled.php
/vendor
.env.production.php
.env.staging.php
.env.php
.env.local.php
.DS_Store
Thumbs.db
.idea
*.iml
_ide_helper.php

nbproject
*~
app/storage
node_modules
bower_components
version.php