<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="bootstrap/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Smoke Test">
            <directory>./tests/smoke</directory>
        </testsuite>
        <testsuite name="Application Test Suite">
            <directory>./tests/feature</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">app/</directory>
        </whitelist>
    </filter>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="QUEUE_DRIVER" value="sync"/>
        <env name="DB_PREFIX" value="testing_" />
        <env name="DEFAULT_TRANSLATION_ID" value="1" />
        <env name="DEFAULT_TRANSLATION_ABBREV" value="TESTTRANS" />
        <env name="TRANSLATION_ABBREV_REGEX" value="TESTTRANS\d*" />
    </php>
</phpunit>
