{% extends 'ad.adlayout' %}

{% block title %}
    Új szentírásfordítás
{% endblock %}
{% block subtitle %}
    <small> Simon Tamás László</small>
    Újszövetség
{% endblock %}
{% set link = 'href="http://apatsagitermekek.hu/termek/simon-t-laszlo-ujszovetseg.html" target="_blank"' %}
{% set adImage='simon_t_ujszov.jpg' %}
{% set adId='simonTL' %}
{% block text %}
        <p class="text-justify">
            <small>Az Újszövetség új fordítása arra invitálja az olvasót, hogy lapozza fel ismét, olvassa újra a
                kereszténységnek e meghatározó dokumentumait. A fordítás a kortárs szentírástudomány ered&shy;ményeinek
                figyelembe&shy;vételével készült. Az egyes könyvek közé illesztett bevezetések a szövegek elmélyültebb
                tanulmányozását szolgálják. A kiadás célja, hogy a keresztény Biblia második részének írásai az olvasó
                mindennapi útitársaivá váljanak.
                <br>
                Kiadja a Pannonhalmi Főapátság.
            </small>
        </p>
        <p class="text-center"><a  {{ link|raw }} class="btn btn-primary btn-xs" data-ad="{{ adId }}">Megrendelés</a></p>
{% endblock %}