<form role="form" method="post" class="form-inline"
      action="{{ action('SzentirasHu\\Controllers\\Search\\SearchController@anySearch') }}">
    <div class="form-group">
        <div class="input-group">
            <input id="quickSearch" type="text" class="form-control" name="textToSearch" value="{{ form.textToSearch }}" placeholder="Gyorskeresés">
            <a id="quickSearchButton" class="btn btn-default input-group-addon"><span class="glyphicon glyphicon-search"></span></a>
        </div>
    </div>
</form>
<a href="/kereses/search">Részletes keresés &gt;</a>