<form role="form" method="post"
      action="{{ action('SzentirasHu\\Controllers\\Search\\SearchController@anySearch') }}">
    <div class="form-group">
        <input id="quickSearch" type="text" class="form-control" name="textToSearch" value="{{ form.textToSearch }}"/>
    </div>
    <input type="submit" value="Keresés" class="btn btn-default"/>

</form>