<form role="form" method="post"
      action="{{ action('SzentirasHu\\Controllers\\Search\\SearchController@postSearch') }}">
    <div class="form-group">
        <input type="text" name="textToSearch" id="textToSearch" value="{{ form.textToSearch }}" class="form-control"/>
    </div>
    <input type="submit" value="Keresés" class="btn btn-default"/>

</form>