
<div class="card" id="accordion">
    <div class="card-header visible-lg visile-md">
        Keresés a Bibliában
    </div>
    <div class="card-body">
        <form id="quickSearchForm" role="form" method="post" class="form-inline"
                action="/kereses/search">
            <div class="form-group">
                <div class="input-group">
                    <input id="quickSearch" type="text" class="form-control" name="textToSearch" value="{{ form.textToSearch }}" placeholder="Gyorskeresés">
                    <input id="grouping" type="hidden" class="form-control" name="grouping" value="verse">
                    {{ csrf_field() }}
                    <div class="input-group-append">
                        <a href="#" class="quickSearchButton btn btn-default btn-secondary"><i class="fas fa-magnifying-glass"></i></a>
                    </div>
                    <div class="input-group-append">
                        <a href="/kereses/search" title="Részletes keresés" class="btn-primary d-md-none d-lg-none btn btn-default"><i class="fa-solid fa-gear"></i></a></span>
                    </div>
                    <div class="input-group-append">
                        <a href="/ai-search" title="AI keresés" class="btn-primary d-md-none d-lg-none btn btn-default"><i class="fa-solid fa-robot fa-large"></i></a></span>                            
                    </div>

                </div>
            </div>
        </form>
        <div class="d-none d-md-block text-center mt-2">
            <a href="#" role="button" class="quickSearchButton btn btn-primary btn-default"><i class="fas fa-gear"></i> Részletes keresés</a>
        </div>
        <div class="d-none d-md-block text-center mt-2">
            <a href="/ai-search" role="button" class="btn btn-primary btn-default"><i class="fas fa-robot fa-large"></i> AI keresés</a>
        </div>
    </div>
</div>
