<h3>A keresőről</h3>

<p>A kereső megpróbálja felismerni, hogy igehelyre keresünk vagy a Biblia szövegére.</p>

<p>Az igehelyekre a „<i>Könyv</i> <i>fejezetszám</i>, <i>verszám</i>” formával lehet hivatkozni, például 1Kor 13,1-7.9-11.</p>

<p>A szövegekben versenként külön-külön keresünk és a találatokat <strong>súlyozva</strong> jeleníti meg <strong>fejezetenként, versenként, vagy könyvenként
        csoportosítva</strong>.</p>
        
<p>Lehetőség van arra, hogy <strong>egy-egy könyvre szűkítsük</strong> le a keresést vagy a teljes Ó- ill.
    Újszövetségre. Hasonlóképpen <strong>választhatunk fordítást</strong> is, vagy egyszerre kereshetünk valamennyi elérhető változatban.</p>
