{% for otherTranslation in translations %}
    {% if otherTranslation.id != translation.id %}
        <a class="btn btn-xs btn-default" href="/{{ otherTranslation.abbrev }}/{{ link }}">{{ otherTranslation.abbrev }}</a>
    {% else %}
        <a class="btn btn-xs btn-primary disabled">{{ otherTranslation.abbrev }}</a>
    {% endif %}
{% endfor %}
