@background-color: #fafafa;
@text-color: #2e2e2e;
@text-font: 'Noto Sans', sans-serif;
@book-font: 'Noto Serif', serif;

body {
    background-color: @background-color;
    color: @text-color;
    font-family: @text-font;
}

a.leadChapterLink {
    color: @text-color;
    font-family: @book-font;
}

.parsedVerses {
    font-family: @book-font;
    font-size: 16px;
}

