@background-color: #fafafa;
@text-color: #2e2e2e;
@muted-text-color: #6c757d;
@text-font: 'Noto Sans', sans-serif;
@book-font: 'Noto Serif', serif;
@book-font-size: 16px;

@footnote-link-color: #0056b3;
@footnote-hover-color: #007BFF;

body {
    background-color: @background-color;
    color: @text-color;
    font-family: @text-font;
}

a.leadChapterLink {
    color: @text-color;
    font-family: @book-font;
}

a.footnote {
    outline: none;
    .numv {
        color: @footnote-link-color;
        font-style: italic;
    }    
    cursor: pointer;
    text-decoration: none;    
    &:hover {
        .numv {
            color: @footnote-hover-color;
        }    
    }
}

p.popover-footnote {
    font-family: @book-font;
    margin: 0;
}
.parsedVerses {
    font-family: @book-font;
    font-size: @book-font-size;
    hyphens: auto;

    h5 {
        font-weight: bold;
        color: @muted-text-color;
    }
    
    h6 {
        font-size: @book-font-size * 0.875;
        font-weight: bold;
        color: @muted-text-color;
    }
    
    span.heading7, span.heading8 {
        display: inline-block;
        font-size: @book-font-size * 0.875;
        margin-top: 3px;
        font-weight: bold;
        &::after {
            content: "."
        }
        color: @muted-text-color;
    }  

    .mark {
        background-color: rgba(255, 255, 0, 0.5);
        color: black;
    }
}

div.translationButtons {
    font-family: @text-font;
    margin-bottom: 6px;
}

.numchapter {
    font-size: 42px;
    float: left;
    padding-right: 6px;
    line-height: 40px;
    color: @muted-text-color;
}


span.numv {
  color: @muted-text-color;
}

div.footnotes {
    margin-top: 12px;
    h5 {
        margin-top: 6px;
    }
    border-top: 1px solid grey;
}

h4.bookchapter {
    display: inline;
    margin: 0px;
    padding-right: 10px;
}

.hideSpinner {
    opacity: 0;
}

div.quickSelector {
    display: inline-block;

    .dropdown-menu {
        max-height: 400px;
        overflow-y: auto;
    }
    
}

div.bookChapterSelector {
    display: inline-block;
    .dropdown-menu {
        max-height: 400px;
        overflow-y: auto;
    }
}

div.quality {
    display: inline-block;
}