{% extends 'layout' %}
{% set pageTitle='Újdonságok | Szentírás' %}

{% block content %}
    <h4>Hírek</h4>
    {% for n in news %}
        <div class="panel-group" id="newsAccordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#newsAccordion" href="#news{{ loop.index }}">{{ n.title }}</a>
                    </h4>
                </div>
                <div id="news{{ loop.index }}" class="panel-collapse collapse">
                    <div class="panel-body">{{ n.text|raw }}</div>
                </div>
            </div>
        </div>
    {% endfor %}

    <h4>Fejlesztések</h4>
    <dl>
        <dt>2016. 08. 01</dt>
        <dd>Felkerült a Magyar Bibliatársulat 2014-es, revideált újfordítású bibliája</dd>
        <dt>2014. 12. 16</dt>
        <dd>Felkerült a Békés-Dalos fordítás</dd>
        <dt>2014. 08. 01. Élesítve az új keresőmotor, új megjelenés, új fejlesztési módszertan</dt>
        <dd>Új keresőmotort és új keretrendszert helyeztünk az egész szentiras.hu alá. Így nagyságrendekkel gyorsabbá (és biztonságosabbá) vált az oldal,
            a gyorskeresés sokkal intelligensebb és gyorsabb, valamint a fejlesztés is egyszerűbbé vált.</dd>
<dt>2014. 03. 24. Fejlesztések a GitHubon</dt>
<dd>A <a href="http://github.com/borazslo/szentiras.hu">github.com/borazslo/szentiras.hu</a> oldalon. <a href="https://github.com/borazslo/szentiras.hu/wiki/Fejleszt%C5%91i-tudnival%C3%B3k">Bárki csatlakozhat</a>!</dd>
<dt>2013. 12. 24. Átfogó fejlesztések történtek.</dt>
        <dd>Leginkább a keresőben, de a megjelenítsében is. Valamint további szövegjavítások is történtek.</dd>
    <dt>2013. 11. 12. Új szövegek  mindegyik fordításban.</dt> <dd>Ehhez viszont adatbázis átalakítás is kellett, aminek eredményeként speciális keresésfunkciók ideiglenesen nem voltak elérhetőek.</dd>
    <dt>2013. 06. 05. Szöveg frissítés  három fordításban (KNB, UF, KG)</dt>
    <dt>2013. 05. 18. ebook .epub és .mobi változatban könyvenként elolvasható a Szentírás: /epub</dt>
    <dt>2013. 04. 23. Költözés új virtuális szervert kaptunk a legfrissebb programokkal</dt>
    <dt>2013. 04. 10. Keresés a könyvekben pl.: „ember in:Ószöv” vagy „medve in:Zsolt”</dt>
    <dt>2013. 04. 05. Károli fordítás is felkerült, mégha nem is egészen kidolgozva.</dt>
    <dt>2013. 03. 27. Új kinézet, hogy mobilkütyükön is használható legyen az oldal.</dt>
<dt>Javított Káldi-Neovulgáta szöveg, mert össze voltak keverve fejezetek, sok volt az elgépelés, rosszak voltak az idézőjelek.</dt>
<dt>    Szentírási helyekre keresés, így egész bonyolult kifejezésket is használhatunk, mint pl. Mk 3,1-5.10;4,5-7.
</dt>    <dt>Keresés a címekben is, nem csak a szövegben.</dt>
    <dt>Rövid címek is elérhetőek, hogy kedvenc helyünket könnyen megjegyezhessük és megoszthassuk.</dt>
    <dt>API json és xml kimenettel fejlesztőknek.</dt>
</dl>
{% endblock %}