/*  GRID OF TWO   ============================================================================= */


.span_2_of_2 {
	width: 65.8%;
}

.span_1_of_2 {
	width: 30.2%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.span_2_of_2 {
		width: 100%; 
		right: -10px;
	}
	.span_1_of_2 {
		width: 100%; 
	}
}