div.c2 {
    float: right;
    margin-left: 1%;
    width: 48%;
}

div.c1 {
    float: right;
    width: 48%;
    margin-right: 1%;
}


@media only screen and (max-width: 1024px) {
	div.c2 {
        float: none;
        margin-left: 0%;
        width: 100%;
    }

    div.c1 {
        float: none;
        width: 100%;
        margin-right: 0%;
    }

}