{% extends 'layout' %}

{% block content %}
    <h2>Újszövetségi Szentírás hanganyag</h2>
    <h3>Elmondja: Diós István</h3>

    {% raw %}

<p>Egy-egy mp3 formátumú fájl egy-egy fejezetet tartalmaz</p>

<ul>
<li> Máté
    <a href="/hang/01mate/01.mp3">1</a> -
    <a href="/hang/01mate/02.mp3">2</a> -
    <a href="/hang/01mate/03.mp3">3</a> -
    <a href="/hang/01mate/04.mp3">4</a> -
    <a href="/hang/01mate/05.mp3">5</a> -
    <a href="/hang/01mate/06.mp3">6</a> -
    <a href="/hang/01mate/07.mp3">7</a> -
    <a href="/hang/01mate/08.mp3">8</a> -
    <a href="/hang/01mate/09.mp3">9</a> -
    <a href="/hang/01mate/10.mp3">10</a> -
    <a href="/hang/01mate/11.mp3">11</a> -
    <a href="/hang/01mate/12.mp3">12</a> -
    <a href="/hang/01mate/13.mp3">13</a> -
    <a href="/hang/01mate/14.mp3">14</a> -
    <a href="/hang/01mate/15.mp3">15</a> -
    <a href="/hang/01mate/16.mp3">16</a> -
    <a href="/hang/01mate/17.mp3">17</a> -
    <a href="/hang/01mate/18.mp3">18</a> -
    <a href="/hang/01mate/19.mp3">19</a> -
    <a href="/hang/01mate/20.mp3">20</a> -
    <a href="/hang/01mate/21.mp3">21</a> -
    <a href="/hang/01mate/22.mp3">22</a> -
    <a href="/hang/01mate/23.mp3">23</a> -
    <a href="/hang/01mate/24.mp3">24</a> -
    <a href="/hang/01mate/25.mp3">25</a> -
    <a href="/hang/01mate/26.mp3">26</a> -
    <a href="/hang/01mate/27.mp3">27</a> -
    <a href="/hang/01mate/28.mp3">28</a>

<li> Márk
    <a href="/hang/02mark/01.mp3">1</a> -
    <a href="/hang/02mark/02.mp3">2</a> -
    <a href="/hang/02mark/03.mp3">3</a> -
    <a href="/hang/02mark/04.mp3">4</a> -
    <a href="/hang/02mark/05.mp3">5</a> -
    <a href="/hang/02mark/06.mp3">6</a> -
    <a href="/hang/02mark/07.mp3">7</a> -
    <a href="/hang/02mark/08.mp3">8</a> -
    <a href="/hang/02mark/09.mp3">9</a> -
    <a href="/hang/02mark/10.mp3">10</a> -
    <a href="/hang/02mark/11.mp3">11</a> -
    <a href="/hang/02mark/12.mp3">12</a> -
    <a href="/hang/02mark/13.mp3">13</a> -
    <a href="/hang/02mark/14.mp3">14</a> -
    <a href="/hang/02mark/15.mp3">15</a> -
    <a href="/hang/02mark/16.mp3">16</a>

<li> Lukács
    <a href="/hang/03lukacs/01.mp3">1</a> -
    <a href="/hang/03lukacs/02.mp3">2</a> -
    <a href="/hang/03lukacs/03.mp3">3</a> -
    <a href="/hang/03lukacs/04.mp3">4</a> -
    <a href="/hang/03lukacs/05.mp3">5</a> -
    <a href="/hang/03lukacs/06.mp3">6</a> -
    <a href="/hang/03lukacs/07.mp3">7</a> -
    <a href="/hang/03lukacs/08.mp3">8</a> -
    <a href="/hang/03lukacs/09.mp3">9</a> -
    <a href="/hang/03lukacs/10.mp3">10</a> -
    <a href="/hang/03lukacs/11.mp3">11</a> -
    <a href="/hang/03lukacs/12.mp3">12</a> -
    <a href="/hang/03lukacs/13.mp3">13</a> -
    <a href="/hang/03lukacs/14.mp3">14</a> -
    <a href="/hang/03lukacs/15.mp3">15</a> -
    <a href="/hang/03lukacs/16.mp3">16</a> -
    <a href="/hang/03lukacs/17.mp3">17</a> -
    <a href="/hang/03lukacs/18.mp3">18</a> -
    <a href="/hang/03lukacs/19.mp3">19</a> -
    <a href="/hang/03lukacs/20.mp3">20</a> -
    <a href="/hang/03lukacs/21.mp3">21</a> -
    <a href="/hang/03lukacs/22.mp3">22</a> -
    <a href="/hang/03lukacs/23.mp3">23</a> -
    <a href="/hang/03lukacs/24.mp3">24</a> -

<li> János
    <a href="/hang/04janos/01.mp3">1</a> -
    <a href="/hang/04janos/02.mp3">2</a> -
    <a href="/hang/04janos/03.mp3">3</a> -
    <a href="/hang/04janos/04.mp3">4</a> -
    <a href="/hang/04janos/05.mp3">5</a> -
    <a href="/hang/04janos/06.mp3">6</a> -
    <a href="/hang/04janos/07.mp3">7</a> -
    <a href="/hang/04janos/08.mp3">8</a> -
    <a href="/hang/04janos/09.mp3">9</a> -
    <a href="/hang/04janos/10.mp3">10</a> -
    <a href="/hang/04janos/11.mp3">11</a> -
    <a href="/hang/04janos/12.mp3">12</a> -
    <a href="/hang/04janos/13.mp3">13</a> -
    <a href="/hang/04janos/14.mp3">14</a> -
    <a href="/hang/04janos/15.mp3">15</a> -
    <a href="/hang/04janos/16.mp3">16</a> -
    <a href="/hang/04janos/17.mp3">17</a> -
    <a href="/hang/04janos/18.mp3">18</a> -
    <a href="/hang/04janos/19.mp3">19</a> -
    <a href="/hang/04janos/20.mp3">20</a> -
    <a href="/hang/04janos/21.mp3">21</a>

<li> Apostolok cselekedetei
    <a href="/hang/05apcsel1/01.mp3">1</a> -
    <a href="/hang/05apcsel1/02.mp3">2</a> -
    <a href="/hang/05apcsel1/03.mp3">3</a> -
    <a href="/hang/05apcsel1/04.mp3">4</a> -
    <a href="/hang/05apcsel1/05.mp3">5</a> -
    <a href="/hang/05apcsel1/06.mp3">6</a> -
    <a href="/hang/05apcsel1/07.mp3">7</a> -
    <a href="/hang/05apcsel1/08.mp3">8</a> -
    <a href="/hang/05apcsel1/09.mp3">9</a> -
    <a href="/hang/05apcsel1/10.mp3">10</a> -

    <a href="/hang/05apcsel2/11.mp3">11</a> -
    <a href="/hang/05apcsel2/12.mp3">12</a> -
    <a href="/hang/05apcsel2/13.mp3">13</a> -
    <a href="/hang/05apcsel2/14.mp3">14</a> -
    <a href="/hang/05apcsel2/15.mp3">15</a> -
    <a href="/hang/05apcsel2/16.mp3">16</a> -
    <a href="/hang/05apcsel2/17.mp3">17</a> -
    <a href="/hang/05apcsel2/18.mp3">18</a> -
    <a href="/hang/05apcsel2/19.mp3">19</a> -
    <a href="/hang/05apcsel2/20.mp3">20</a> -
    <a href="/hang/05apcsel2/21.mp3">21</a> -
    <a href="/hang/05apcsel2/22.mp3">22</a> -
    <a href="/hang/05apcsel2/23.mp3">23</a> -
    <a href="/hang/05apcsel2/24.mp3">24</a> -
    <a href="/hang/05apcsel2/25.mp3">25</a> -
    <a href="/hang/05apcsel2/26.mp3">26</a> -
    <a href="/hang/05apcsel2/27.mp3">27</a> -
    <a href="/hang/05apcsel2/28.mp3">28</a>

<li> Rómaiaknak írt levél
    <a href="/hang/06levelek/01 r_maiaknak/01.mp3">1</a> -
    <a href="/hang/06levelek/01 r_maiaknak/02.mp3">2</a> -
    <a href="/hang/06levelek/01 r_maiaknak/03.mp3">3</a> -
    <a href="/hang/06levelek/01 r_maiaknak/04.mp3">4</a> -
    <a href="/hang/06levelek/01 r_maiaknak/05.mp3">5</a> -
    <a href="/hang/06levelek/01 r_maiaknak/06.mp3">6</a> -
    <a href="/hang/06levelek/01 r_maiaknak/07.mp3">7</a> -
    <a href="/hang/06levelek/01 r_maiaknak/08.mp3">8</a> -
    <a href="/hang/06levelek/01 r_maiaknak/09.mp3">9</a> -
    <a href="/hang/06levelek/01 r_maiaknak/10.mp3">10</a> -
    <a href="/hang/06levelek/01 r_maiaknak/11.mp3">11</a> -
    <a href="/hang/06levelek/01 r_maiaknak/12.mp3">12</a> -
    <a href="/hang/06levelek/01 r_maiaknak/13.mp3">13</a> -
    <a href="/hang/06levelek/01 r_maiaknak/14.mp3">14</a> -
    <a href="/hang/06levelek/01 r_maiaknak/15.mp3">15</a> -
    <a href="/hang/06levelek/01 r_maiaknak/16.mp3">16</a>

<li> Korintusiaknak írt I. levél <a href="/hang/06levelek/02 korintusiaknak i/01.mp3">1</a> -
    <a href="/hang/06levelek/02 korintusiaknak i/02.mp3">2</a> -
    <a href="/hang/06levelek/02 korintusiaknak i/03.mp3">3</a> -
    <a href="/hang/06levelek/02 korintusiaknak i/04.mp3">4</a> -
    <a href="/hang/06levelek/02 korintusiaknak i/05.mp3">5</a> -
    <a href="/hang/06levelek/02 korintusiaknak i/06.mp3">6</a> -
    <a href="/hang/06levelek/02 korintusiaknak i/07.mp3">7</a> -
    <a href="/hang/06levelek/02 korintusiaknak i/08.mp3">8</a> -
    <a href="/hang/06levelek/02 korintusiaknak i/09.mp3">9</a> -
    <a href="/hang/06levelek/02 korintusiaknak i/10.mp3">10</a> -
    <a href="/hang/06levelek/02 korintusiaknak i/11.mp3">11</a> -
    <a href="/hang/06levelek/02 korintusiaknak i/12.mp3">12</a> -
    <a href="/hang/06levelek/02 korintusiaknak i/13.mp3">13</a> -
    <a href="/hang/06levelek/02 korintusiaknak i/14.mp3">14</a> -
    <a href="/hang/06levelek/02 korintusiaknak i/15.mp3">15</a> -
    <a href="/hang/06levelek/02 korintusiaknak i/16.mp3">16</a>

<li> Korintusiaknak írt II. levél
    <a href="/hang/06levelek/03 korintusiaknak ii/01.mp3">1</a> -
    <a href="/hang/06levelek/03 korintusiaknak ii/02.mp3">2</a> -
    <a href="/hang/06levelek/03 korintusiaknak ii/03.mp3">3</a> -
    <a href="/hang/06levelek/03 korintusiaknak ii/04.mp3">4</a> -
    <a href="/hang/06levelek/03 korintusiaknak ii/05.mp3">5</a> -
    <a href="/hang/06levelek/03 korintusiaknak ii/06.mp3">6</a> -
    <a href="/hang/06levelek/03 korintusiaknak ii/07.mp3">7</a> -
    <a href="/hang/06levelek/03 korintusiaknak ii/08.mp3">8</a> -
    <a href="/hang/06levelek/03 korintusiaknak ii/09.mp3">9</a> -
    <a href="/hang/06levelek/03 korintusiaknak ii/10.mp3">10</a> -
    <a href="/hang/06levelek/03 korintusiaknak ii/11.mp3">11</a> -
    <a href="/hang/06levelek/03 korintusiaknak ii/12.mp3">12</a> -
    <a href="/hang/06levelek/03 korintusiaknak ii/13.mp3">13</a>

<li> Galatáknak írt levél <a href="/hang/06levelek/04 galat_knak/01.mp3">1</a> -
    <a href="/hang/06levelek/04 galat_knak/02.mp3">2</a> -
    <a href="/hang/06levelek/04 galat_knak/03.mp3">3</a> -
    <a href="/hang/06levelek/04 galat_knak/04.mp3">4</a> -
    <a href="/hang/06levelek/04 galat_knak/05.mp3">5</a> -
    <a href="/hang/06levelek/04 galat_knak/06.mp3">6</a>

<li> Efezusiaknak írt levél <a href="/hang/06levelek/05 efezusiaknak/01.mp3">1</a> -
    <a href="/hang/06levelek/05 efezusiaknak/02.mp3">2</a> -
    <a href="/hang/06levelek/05 efezusiaknak/03.mp3">3</a> -
    <a href="/hang/06levelek/05 efezusiaknak/04.mp3">4</a> -
    <a href="/hang/06levelek/05 efezusiaknak/05.mp3">5</a> -
    <a href="/hang/06levelek/05 efezusiaknak/06.mp3">6</a>

<li> Filippieknek írt levél
    <a href="/hang/06levelek/06 filippieknek/01.mp3">1</a> -
    <a href="/hang/06levelek/06 filippieknek/02.mp3">2</a> -
    <a href="/hang/06levelek/06 filippieknek/03.mp3">3</a> -
    <a href="/hang/06levelek/06 filippieknek/04.mp3">4</a>

<li>  Kolosszeieknek írt levél
    <a href="/hang/06levelek/07 kolosszeieknek/01.mp3">1</a> -
    <a href="/hang/06levelek/07 kolosszeieknek/02.mp3">2</a> -
    <a href="/hang/06levelek/07 kolosszeieknek/03.mp3">3</a> -
    <a href="/hang/06levelek/07 kolosszeieknek/04.mp3">4</a>

<li> Tesszalonikaiaknak írt I. levél
    <a href="/hang/06levelek/08 tesszalonikaiaknak i/01.mp3">1</a> -
    <a href="/hang/06levelek/08 tesszalonikaiaknak i/02.mp3">2</a> -
    <a href="/hang/06levelek/08 tesszalonikaiaknak i/03.mp3">3</a> -
    <a href="/hang/06levelek/08 tesszalonikaiaknak i/04.mp3">4</a> -
    <a href="/hang/06levelek/08 tesszalonikaiaknak i/05.mp3">5</a>

<li> Tesszalonikaiaknak írt II. levél
    <a href="/hang/06levelek/09 tesszalonikaiaknak ii/01.mp3">1</a> -
    <a href="/hang/06levelek/09 tesszalonikaiaknak ii/02.mp3">2</a> -
    <a href="/hang/06levelek/09 tesszalonikaiaknak ii/03.mp3">3</a>

<li> Timóteusnak írt I. levél
    <a href="/hang/06levelek/10 tim_teusnak i/01.mp3">1</a> -
    <a href="/hang/06levelek/10 tim_teusnak i/02.mp3">2</a> -
    <a href="/hang/06levelek/10 tim_teusnak i/03.mp3">3</a> -
    <a href="/hang/06levelek/10 tim_teusnak i/04.mp3">4</a> -
    <a href="/hang/06levelek/10 tim_teusnak i/05.mp3">5</a> -
    <a href="/hang/06levelek/10 tim_teusnak i/06.mp3">6</a> -

<li> Timóteusnak írt II. levél
    <a href="/hang/06levelek/11 timoteusnak ii/01.mp3">1</a> -
    <a href="/hang/06levelek/11 timoteusnak ii/02.mp3">2</a> -
    <a href="/hang/06levelek/11 timoteusnak ii/03.mp3">3</a> -
    <a href="/hang/06levelek/11 timoteusnak ii/04.mp3">4</a>

<li> Titusznak írt levél
    <a href="/hang/06levelek/12 titusznak/01.mp3">1</a> -
    <a href="/hang/06levelek/12 titusznak/02.mp3">2</a> -
    <a href="/hang/06levelek/12 titusznak/03.mp3">3</a>

<li>  Filemonnak írt levél
    <a href="/hang/06levelek/13 filemonnak/sound 1.mp3"> 1</a>

<li> Zsidóknak írt levél
    <a href="/hang/06levelek/14 zsid_knak/01.mp3">1</a> -
    <a href="/hang/06levelek/14 zsid_knak/02.mp3">2</a> -
    <a href="/hang/06levelek/14 zsid_knak/03.mp3">3</a> -
    <a href="/hang/06levelek/14 zsid_knak/04.mp3">4</a> -
    <a href="/hang/06levelek/14 zsid_knak/05.mp3">5</a> -
    <a href="/hang/06levelek/14 zsid_knak/06.mp3">6</a> -
    <a href="/hang/06levelek/14 zsid_knak/07.mp3">7</a> -
    <a href="/hang/06levelek/14 zsid_knak/08.mp3">8</a> -
    <a href="/hang/06levelek/14 zsid_knak/09.mp3">9</a> -
    <a href="/hang/06levelek/14 zsid_knak/10.mp3">10</a> -
    <a href="/hang/06levelek/14 zsid_knak/11.mp3">11</a> -
    <a href="/hang/06levelek/14 zsid_knak/12.mp3">12</a> -
    <a href="/hang/06levelek/14 zsid_knak/13.mp3">13</a>

<li> Szent Jakab apostol levele
    <a href="/hang/06levelek/15 szt.jakab/01.mp3">1</a> -
    <a href="/hang/06levelek/15 szt.jakab/02.mp3">2</a> -
    <a href="/hang/06levelek/15 szt.jakab/03.mp3">3</a> -
    <a href="/hang/06levelek/15 szt.jakab/04.mp3">4</a> -
    <a href="/hang/06levelek/15 szt.jakab/05.mp3">5</a>


<li> Szent Péter apostol I. levele
    <a href="/hang/06levelek/16 szt.p_ter i/01.mp3">1</a> -
    <a href="/hang/06levelek/16 szt.p_ter i/02.mp3">2</a> -
    <a href="/hang/06levelek/16 szt.p_ter i/03.mp3">3</a> -
    <a href="/hang/06levelek/16 szt.p_ter i/04.mp3">4</a> -
    <a href="/hang/06levelek/16 szt.p_ter i/05.mp3">5</a>


<li> Szent Péter apostol II. levele
    <a href="/hang/06levelek/17 szt.p_ter ii/01.mp3">1</a> -
    <a href="/hang/06levelek/17 szt.p_ter ii/02.mp3">2</a> -
    <a href="/hang/06levelek/17 szt.p_ter ii/03.mp3">3</a>

<li> Szent János apostol I. levele
    <a href="/hang/06levelek/18 szt. j_nos i/01.mp3">1</a> -
    <a href="/hang/06levelek/18 szt. j_nos i/02.mp3">2</a> -
    <a href="/hang/06levelek/18 szt. j_nos i/03.mp3">3</a> -
    <a href="/hang/06levelek/18 szt. j_nos i/04.mp3">4</a> -
    <a href="/hang/06levelek/18 szt. j_nos i/05.mp3">5</a>

<li> Szent János apostol II. levele

    <a href="/hang/06levelek/19 szt. j_nos ii/01.mp3">1</a>


<li> Szent János apostol III. levele
    <a href="/hang/06levelek/20 szt. j_nos iii/01.mp3">1</a>

<li> Szent Júdás levele
    <a href="/hang/06levelek/21 szt. jud_s/01.mp3">1</a>

<li> Jelenések könyve
    <a href="/hang/07jelenesek/01.mp3">1</a> -
    <a href="/hang/07jelenesek/02.mp3">2</a> -
    <a href="/hang/07jelenesek/03.mp3">3</a> -
    <a href="/hang/07jelenesek/04.mp3">4</a> -
    <a href="/hang/07jelenesek/05.mp3">5</a> -
    <a href="/hang/07jelenesek/06.mp3">6</a> -
    <a href="/hang/07jelenesek/07.mp3">7</a> -
    <a href="/hang/07jelenesek/08.mp3">8</a> -
    <a href="/hang/07jelenesek/09.mp3">9</a> -
    <a href="/hang/07jelenesek/10.mp3">10</a> -
    <a href="/hang/07jelenesek/11.mp3">11</a> -
    <a href="/hang/07jelenesek/12.mp3">12</a> -
    <a href="/hang/07jelenesek/13.mp3">13</a> -
    <a href="/hang/07jelenesek/14.mp3">14</a> -
    <a href="/hang/07jelenesek/15.mp3">15</a> -
    <a href="/hang/07jelenesek/16.mp3">16</a> -
    <a href="/hang/07jelenesek/17.mp3">17</a> -
    <a href="/hang/07jelenesek/18.mp3">18</a> -
    <a href="/hang/07jelenesek/19.mp3">19</a> -
    <a href="/hang/07jelenesek/20.mp3">20</a> -
    <a href="/hang/07jelenesek/21.mp3">21</a> -
    <a href="/hang/07jelenesek/22.mp3">22</a>

    {% endraw %}

{% endblock %}