{% if books|length > 0 %}
<div class="panel panel-default">
    <div class="panel-body text-center">
        {% for b in books %}
            {% if (b == book) %}
                <b>{{b.abbrev}}</b>
            {% else %}
                <a href="/{{ translation.abbrev }}/{{b.abbrev}}" class='minilink'>{{b.abbrev}}</a>
            {% endif %}
            {% if (not loop.last) %} - {% endif %}
        {% endfor %}
    </div>
</div>
{% endif %}
