<ul class="nav nav-pills nav-stacked">
    {% for item in items %}
        {% if item == 'pause' %}
            <li class="nav-divider"></li>
        {% elseif item is not iterable %}
            <li>{{ item|raw }}</li>
        {% else %}
            <li><a href="{{ item[1] }}">{{ item[0] }}</a></li>
        {% endif %}
    {% endfor %}
</ul>
