<div class="panel panel-success hidden-xs">
    <div class="panel-heading  center-block">
        <h3 class="panel-title text-center">Új szentírásfordítás</h3>
    </div>
    <div class="panel-body">
        {% set link = 'href="http://www.benceskiado.hu/index.php?waid=366" target="_blank"' %}
        <a {{ link|raw }} class="simonTL">
            <h5 class="text-center">
                <small> Simon Tamás László</small>
                Újszövetség
            </h5>
        </a>

        <p class="text-center">
            <a {{ link|raw }} class="simonTL">
                <img src="/img/simon_t_ujszov.jpg" class="img-responsive" style="margin: auto;">
            </a>
        </p>

        <p class="text-justify">
            <small>Az Újszövetség új fordítása arra invitálja az olvasót, hogy lapozza fel ismét, olvassa újra a
                kereszténységnek e meghatározó dokumentumait. A fordítás a kortárs szentírástudomány ered&shy;ményeinek
                figyelembe&shy;vételével készült. Az egyes könyvek közé illesztett bevezetések a szövegek elmélyültebb
                tanulmányozását szolgálják. A kiadás célja, hogy a keresztény Biblia második részének írásai az olvasó
                mindennapi útitársaivá váljanak.
                <br>
                Kiadja a Pannonhalmi Főapátság.
            </small>
        </p>
        <p class="text-center">
            <a  {{ link|raw }} class="btn btn-primary btn-xs SimonTL">Megrendelés</a></p>
    </div>
</div>